.vscode
.idea

venv
.venv
__pycache__

output/*
!output/.keep

cache/*
!cache/.keep

huggingface/

sd-models/*
!sd-models/.gitkeep

config/state.json

py310
python
git
wd14_tagger_model

logs/*
!logs/.keep

config/autosave/*
config/presets/test*.toml

vendor/sd-scripts/tests/

.superpowers
docs